.card {
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 5px;
  height: 100%;
}

.card {
  display: grid;
  grid-template-areas:
    "city city"
    "img temp"
    "img temp";
  grid-template-columns: 50% 1fr;
}

img {
  width: 100%;
  height: 100%;
}

.city {
  grid-area: city;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

.temp {
  grid-area: temp;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen p {
  margin: 0;
  position: relative;
  top: -30px;
}

.imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tempFeels {
  font-size: 15px;
}

.tempC {
  margin: 0;
  margin-top: 60px;
  font-size: 20px;
}

@media (min-width: 800px) {
  .card {
    width: 600px;
  }

  img {
    width: 200px;
    height: 200px;
  }

  .tempC {
    margin-top: 45px;
    font-size: 50px;
  }
}

@media (min-width: 281px) and (max-width: 799px) {
  /* CSS */
  .card {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
