@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

:root {
  --dark: #fff;
  --white: #232433;
  --gray-light: #2f2f2f;
  --text-color: #eee;
  --bg-second: #2e3141;
}

html {
  box-sizing: border-box;
  background: var(--white);
  background: rgb(123, 253, 240);
  background: linear-gradient(
    341deg,
    rgba(123, 253, 240, 1) 0%,
    rgba(74, 145, 255, 1) 43%
  );
  color: #fff;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 34px;
}

@media (min-width: 481px) {
  .App {
    justify-content: center;
    align-items: center;
  }
}
